<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Among Us | Oxygen</title>
    <link rel="stylesheet" href="/oxygen.css">
    <link rel="shortcut icon" href="/images/oxygen.ico" type="image/x-icon">
</head>
<body>

<div class="container">
    <div id="stickyNote">
        <p>Код на сьогодні:</p>
        <input type="text" id="random" readonly>
        <button onclick="getCode()" id="getCode">ОТРИМАТИ КОД</button>
    </div>
    <!-- Keypad -->
    <div id="keypad">
        <!-- Number buttons -->
        <button onclick="addNumber(1);playSound()">1</button>
        <button onclick="addNumber(2);playSound()">2</button>
        <button onclick="addNumber(3);playSound()">3</button>
        <button onclick="addNumber(4);playSound()">4</button>
        <button onclick="addNumber(5);playSound()">5</button>
        <button onclick="addNumber(6);playSound()">6</button>
        <button onclick="addNumber(7);playSound()">7</button>
        <button onclick="addNumber(8);playSound()">8</button>
        <button onclick="addNumber(9);playSound()">9</button>

        <button class="red" onclick="clearOutput()"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg></button>
        <button onclick="addNumber(0)">0</button>
        <button class="green" onclick=submitCode()>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
        </svg></button>
    </div>
    <!-- Output display -->
    <input type="text" id="output" readonly>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="/oxygen.js"></script>
</body>
</html>
