h1 {
	font-family: 'Comic Sans MS';
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 1%;
	padding-right: 1%;
}

button {
	width: 100%;
	max-width: 10rem;
	border-radius: 1rem;
}


img {
	width: 100%;
}

#enable-sound {
	display: inline;
}

#sabotageButtons {
	max-width: 20rem;
	display: flex;
}
